$main_font: 'Dosis', sans-serif;
$main_text_color: #696969;
$ubuntu_font: 'Ubuntu', sans-serif;

$blueColor: #6495ed;
$greyColorFooter: #cfcfcf;
$greyColorHeader: #cfcfcf;
$hover: #cfcfcf;

$centerMargin: 0 auto;

 $mobile-width: 320px;
 $tablet-width: 768px;
 $desktop-width: 1024px;