$main_font: 'Times New Roman', sans-serif;
$main_text_color: darken(grey, 20%);

$borderBottomHeader: darken(grey, 20%);
$h1Color: darken(#ff6600, 0%);
$h3Color: darken(#ff6600, 0%);
$divsBorder: #0073e6;
$labelColor: darken(#ff6600, 0%);
$footerBackground: darken(#0073e6, 10%);

$centerMargin: 0 auto;

 $mobile-width: 320px;
 $tablet-width: 768px;
 $desktop-width: 1024px;